@mixin makeup($background,$gridrow){
    grid-column: 2/3;
    font-size: 20px;
    color: white;
    background-color:$background;
    grid-row:$gridrow;
    padding-top: 10px;
    padding-left: 10px;
}
