@import './variables';
@import './mixin';
@import './aside';
@import './social';

body{
    background-color: #c3cfe2;
    display: grid;
    grid-template-columns: auto 40px;
    grid-template-rows: 400px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


p{
    display: inline;
    margin-left: 15px;
    text-decoration: underline;
    font-size: 15px;
   
}











